<nav class="menu">
  <LinkTo @route="index" class="menu-index">
    <h1>ChatApp</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="history" class="menu-history">
      History
    </LinkTo>
  </div>
  <div class="right chat-logo"></div>
</nav>