<nav class="menu">
  <div class = "right chat-logo"></div>
  <LinkTo @route="index" class="menu-index">
    <h1>ChatApp</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="allmessages" class="menu-about">
      All Messages
    </LinkTo>
  </div>
  <div class="links">
    <LinkTo @route="about" class="menu-about">
      About
    </LinkTo>
  </div>
</nav>