<div>
  <Input
    class = "text-box"
    @value={{this.input}}
    class="light"
    placeholder="Enter a new message into the log (max. 100 characters)"
    maxlength="100"
  />
  <button type="button" class="submit-button" {{on "click" this.submit}}>Submit</button>
</div>