{{page-title "Welcome to ChatApp"}}
<div class="login-container">
  <div>
    Sign into Existing Account
    <GatekeeperSignIn />
  </div>
  <br><br>
  <div>
    Create a New Account
    <GatekeeperSignUp />
  </div>
</div>


