{{page-title "Messages"}}
{{#each @model as |message|}}
  <div class="edit-row">
    <Message @message={{message}} />
    <LinkTo class="edit-button" @route="messages.message" @model={{message}}>Edit</LinkTo>
  </div>
{{/each}}